a, a:hover, a:focus{
  color: #00B7FF;
  text-decoration: none !important;
  text-transform: capitalize;
}

li{
    list-style: none;
}

a.label{
    font-size: 16px;
}

i.glyphicon{
    font-size: 24px;
}

a.btn{
    margin-bottom: 20px;
}

body{
    text-align: center;
}

.green{
    color: green;
}

.gray{
    color: #9b9b9b;
}

