a, a:hover, a:focus{
  color: #00B7FF;
  text-decoration: none !important;

}

li{
    list-style: none;
}

a.label{
    font-size: 16px;
}

i.glyphicon{
    font-size: 24px;
}

a.btn{
    margin-bottom: 20px;
}

body{
    text-align: center;
}