<div style="text-align: center" ng-init="makefalse()">
	<ul class="list-group">
		<li ng-repeat="cluster in clusters track by $index" class="list-group-item">
		<a class="label label-default" href="#/more/{{$index}}">{{cluster[0]}}</a>
		<br/><br>
		<audio src="{{songs[$index][0]}}" controls="controls" controls preload="none">
			Your browser does not support the audio element.
		</audio>
		<input hidden type="checkbox" ng-model="choiceArray[$index]" value="{{$index}}" />
            <i ng-click="run($index)" ng-show="choiceArray[$index]" class="glyphicon glyphicon-thumbs-up green"></i>
            <i ng-click="run($index)" ng-hide="choiceArray[$index]" class="glyphicon glyphicon-thumbs-up gray"></i>
        </li>
	</ul>
	<div style="text-align: center">
        <a class="btn btn-lg btn-success" href="#/suggestions">Show&nbspSuggestions</a>
    </div>
</div>