<ul class="list-group">
	<div ng-repeat="cluster in clusters track by $index" ng-show="{{choiceArray[$index]}}">
		<li class="list-group-item">
		<div>
			<a class="label label-info">{{cluster[1]}}</a>
			<br/><br>
			<audio src="{{songs[$index][1]}}" controls="controls" controls preload="none">
				Your browser does not support the audio element.
			</audio>
		</div>
            <br><br>
		<div>
			<a class="label label-info">{{cluster[2]}}</a>
			<br/><br>
			<audio src="{{songs[$index][2]}}" controls="controls" controls preload="none">
				Your browser does not support the audio element.
			</audio>
		</div>
		</li>
	</div>
</ul>
<a class="btn btn-danger" href="#/app">Back</a>